.jobs__principal__grid{
    display: flex;
    gap: 2.2rem;
    align-items: start;
    margin-bottom: 5rem;
    position: relative;
    margin-top: 3.1rem;
}

.jobs__principal__grid__content{
    background-color: $white;
    padding-top: 0;
    border-radius: 0rem;
    border: 0px solid $border;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px $shadow;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-columns: 1.61fr 2fr;
    
}

.jobs__principal__grid__content__left{

    .jobs__principal__grid__content__tips{
        padding: 0;
        margin: 0;
        background-color: #444;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 1rem;
        border-radius: 0rem;
        border-bottom: 1px solid $border;
        border-right: 1px solid $border;
        overflow: hidden;
        .jobs__principal__grid__content__tips-title{
            color: $white;
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: -0.3rem;
            .bi{
                vertical-align: middle;
                margin-left: 0.5rem;
                color: $white !important;
                display: none;
            }
        }

        .jobs__principal__grid__content__tips-subtitle{
            color: $white;
            font-size: 1.2rem;
            .bi::before{
                vertical-align: middle;
            }
        }
    }

    .jobs__principal__grid__content__offers{
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        height: 100vh;
        padding-bottom: 18rem;
        .jobs__principal__grid__content__offers__grid{
            position: relative;


            &:first-of-type{
                .jobs__principal__grid__content__offers__link{
                    padding: 1rem 1rem;
                    padding-bottom: 0rem;
                }
            }
            &:hover .jobs__principal__grid__content__offers__link__preview__description-title{
                text-decoration: underline;
                
            }
            .jobs__principal__grid__content__offers__link{
                padding: 1rem 1rem;
                padding-bottom: 0rem;
                padding-right: 0;
                display: flex;
                flex-direction: row;
                gap: 0.8rem;
                justify-content: left;
                border-bottom: 1px solid $border;
                .jobs__principal__grid__content__offers__link__img{
                    background-color: transparent;
                    padding: 0.1rem;
                    border-radius: 100%;
                    img{
                        max-width: 5.5rem;
                        max-height: 5.5rem;
                        min-width: 5.5rem;
                        min-height: 5.5rem;
                    }
                }
                .jobs__principal__grid__content__offers__link__preview{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    position: relative;
                    width: 100%;

                    .jobs__principal__grid__content__offers__link__preview__description{
                        .jobs__principal__grid__content__offers__link__preview__description-title{
                            font-size: 1.6rem;
                            font-weight: 500;
                            width: 93%;
                            &:hover{
                                text-decoration: underline;
                            }

                            .bi{
                                vertical-align: middle;
                            }
                        }

                        .jobs__principal__grid__content__offers__link__preview__description-company{
                            font-size: 1.4rem;
                            font-weight: 400;
                        }

                        .jobs__principal__grid__content__offers__link__preview__description-location{
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: $textnav;
                        }

                        .jobs__principal__grid__content__offers__link__preview__description-hiring{
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: $textnav;
                            margin-left: -0.1rem;
                            .bi{
                                font-size: 1.8rem;
                                vertical-align: middle;
                                color: $green;
                            }
                        }
                    }

                    .jobs__principal__grid__content__offers__link__preview__tags{
                        margin-bottom: 0.8rem;
                        .jobs__principal__grid__content__offers__link__preview__tags-text{
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: $textsecondary;
                        }

                    }
                }
            }
        
            &:first-of-type{
                .jobs__principal__grid__content__offers__link__preview__description-close{
                    position: absolute;
                    right: 2px;
                    top: 10px;
                    background-color: transparent;
                    border: none;
                    .bi::before{
                        font-size: 2.5rem;
                    }
                }
            }
            .jobs__principal__grid__content__offers__link__preview__description-close{
                position: absolute;
                right: 2px;
                top: 8px;
                background-color: transparent;
                border: none;

                .bi::before{
                    font-size: 2.5rem;
                }
            }
        }

        .jobs__principal__grid__content__offers__grid-active{
            background-color: #ebebeb;
            border-left: 2px solid #818181;
        }
    }
}

.jobs__principal__grid__content__right{
    overflow-y: scroll;

    .jobs__principal__grid__content__right__article{
        padding: 2.5rem 2.5rem;
    }
}


.jobs__principal__grid__content__right__article__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    .jobs__principal__grid__content__right__article__header__general{
        .jobs__principal__grid__content__right__article__header__general-title{
            font-weight: 500;
            font-size: 2.4rem;
            width: 80%;
            line-height: 1.3;
            display: block;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .jobs__principal__grid__content__right__article__header__general-subtitle{
            font-weight: 400;
            font-size: 1.4rem;
            a{
                font-weight: 600;
            }
            span{
                color: $textnav;
            }
        }
        .jobs__principal__grid__content__right__article__header__general__list{
            display: flex;
            flex-direction: column;
            justify-content: left;
            gap: 0.5rem;
            margin-top: 1.2rem;
            margin-left: 0.3rem;
            .jobs__principal__grid__content__right__article__header__general__list__item{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;
                .jobs__principal__grid__content__right__article__header__general__list__item-text{
                    font-size: 1.4rem;

                    .jobs__principal__grid__content__right__article__header__general__list__item-text-link{
                        text-decoration: underline;
                    }
                    .jobs__principal__grid__content__right__article__header__general__list__item-text-time{
                        background-color: #DAEBD1;
                        padding: 0.1rem 0.8rem;
                        border-radius: 0.5rem;
                    }
                }

                .jobs__principal__grid__content__right__article__header__general__list__item-link{
                    font-size: 1.4rem;
                }

                .bi{
                    font-size: 2rem;
                    color: #505050;
                }
            }
        }

        .jobs__principal__grid__content__right__article__header__general__send{
            margin-top: 2.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            .jobs__principal__grid__content__right__article__header__general__send-curriculum{
                background-color: $principal;
                color: $white;
                font-weight: 600;
                border: 0;
                padding: 0.9rem 2rem;
                cursor: pointer;

                .bi{
                    margin-left: 0.5rem;
                }
            }

            .jobs__principal__grid__content__right__article__header__general__send-save{
                background-color: transparent;
                font-weight: 600;
                padding: 0.78rem 2.5rem;
                border: 1px solid;
                cursor: pointer;
            }
        }
    }

    .jobs__principal__grid__content__right__article__header__more{
        top: 8px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        .jobs__principal__grid__content__right__article__header__more-button{
            background-color: transparent;
            border: none;
            font-size: 2rem;
        }
    }
}


.jobs__principal__grid__content__right__article__hiring{
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    padding-bottom: 3.5rem;
    .jobs__principal__grid__content__right__article__hiring__header{
        margin-bottom: -0.2rem;
        .jobs__principal__grid__content__right__article__hiring__header-text{
            font-size: 2rem;
            font-weight: 500;

        }
    }

    .jobs__principal__grid__content__right__article__hiring__body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2.1rem;
        align-items: center;
        margin-left: -0.1rem;
        .jobs__principal__grid__content__right__article__hiring__body-img{
            background-color: #FFFFFF;
            padding: 0.1rem;
            border-radius: 100%;
            img{
                border-radius: 100%;
                max-width: 5.6rem;
                max-height: 5.6rem;
                min-width: 5.6rem;
                min-height: 5.6rem;
            }
        }

        .jobs__principal__grid__content__right__article__hiring__body-img-company{
            background-color: #FFFFFF;
            padding: 0.1rem;
            border-radius: 100%;
            img{
                border-radius: 100%;
                max-width: 6rem;
                max-height: 6rem;
                min-width: 6rem;
                min-height: 6rem;
            }
        }
        .jobs__principal__grid__content__right__article__hiring__body__description{
            margin-left: -4rem;
            .jobs__principal__grid__content__right__article__hiring__body__description-link{
                font-weight: 500;
                font-size: 1.4rem;
                span{
                    font-weight: 400;
                    color: $textnav;
                }
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .jobs__principal__grid__content__right__article__hiring__body__description-subtitle{
                font-size: 1.4rem;
            }

            .jobs__principal__grid__content__right__article__hiring__body__description-more{
                font-size: 1.2rem;
                color: $textnav;
            }


        }

        .jobs__principal__grid__content__right__article__hiring__body__description-company{
            margin-left: -21.1rem;
            
            .jobs__principal__grid__content__right__article__hiring__body__description-link-company{
                font-weight: 500;
                font-size: 1.6rem;
            }
        }
    }

    .jobs__principal__grid__content__right__article__hiring__body__send{
        background-color: transparent;
        border: 1px solid $borderalternative;
        padding: 0.5rem 1.5rem;
        font-weight: 400;
        color: $textnav;
        border-radius: 0.5rem;
        cursor: pointer;
        .bi{
            vertical-align: middle;
            margin-right: 0.3rem;
        }
    }

    .jobs__principal__grid__content__right__article__hiring__body__send-company{
        .bi{
            vertical-align: baseline;
        }
    }
}


.jobs__principal__grid__content__right__article__offer{
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    .jobs__principal__grid__content__right__article__offer__header{
        .jobs__principal__grid__content__right__article__offer__header-title{
            font-weight: 500;
            font-size: 2rem;
            line-height: 1.3;
        }
    }

    .jobs__principal__grid__content__right__article__offer__body{
        margin-top: 1.2rem;
        .jobs__principal__grid__content__right__article__offer__body-text{
            font-size: 1.4rem;
        }   
    }
}


.jobs__principal__grid__content__right__article__hiring-company{
    padding-bottom: 16rem;

    .jobs__principal__grid__content__right__article__hiring {
        padding: 0;
        padding-bottom: 0;
        .jobs__principal__grid__content__right__article__hiring__header{
            padding: 1.2rem 1.6rem;
        }
        .jobs__principal__grid__content__right__article__hiring__footer{
            margin-top: 1.5rem;
            padding: 1.2rem 1.6rem;
            padding-top: 0;
            .jobs__principal__grid__content__right__article__hiring__footer-text{
                font-size: 1.4rem;
                color: $textnav;
            }
        }
        .jobs__principal__grid__content__right__article__hiring__info{
            margin: 0;
            margin-top: 1rem;
            padding: 1.2rem 1.6rem;
            padding-top: 0;
            .jobs__principal__grid__content__right__article__hiring__info-text{
                font-size: 1.4rem;
            }
        }

        .jobs__principal__grid__content__right__article__hiring__body{
            padding: 1.2rem 1.6rem;
            padding-top: 0;
            margin-top: 1.5rem;
        }
    }
    
}


.jobs__principal__grid__content__right__article__hiring__footer-more{
    background-color: transparent;
    border: 0;
    border-top: 1px solid $border;
    padding: 1.5rem;
    color: $principal;
    font-weight: 600;
    cursor: pointer;

    &:hover{
        background-color: #efefef;
    }
}