{% extends 'layouts/login.html' %}
{% load static %}


{% block title %} {{title}} {% endblock %}



{% block content %}
    <section class="login__principal">
        <div class="content">
            <main class="login__principal__grid">
                <section class="login__principal__grid__description">
                    <div class="login__principal__grid__description__welcome">
                        <div class="login__principal__grid__description__welcome__header">
                            <h1 class="login__principal__grid__description__welcome__header-title">
                                Te damos la bienvenida a tu comunidad profesional.
                            </h1>
                            
                        </div>
            
                        <div class="login__principal__grid__description__welcome__body">
                            <p class="login__principal__grid__description__welcome__body-text">Drive higher revenue and lower costs for your sales organization.</p>
                        </div>

                        <div class="login__principal__grid__description__welcome__method">
                            <section class="login__principal__grid__description__welcome__method__grid">
                                <!-- <a href="{% url 'inicio'%}" class="login__principal__grid__description__welcome__method__grid__link">
                                    <svg width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="LgbsSe-Bz112c"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                                    <p class="login__principal__grid__description__welcome__method__grid__link-text">Continue with Google</p>
                                </a> -->

                                <a href="{% url 'inicio'%}" class="login__principal__grid__description__welcome__method__grid__link">
                                    <img src="{% static 'build/img/email.svg' %}" alt="" width="20" height="20">
                                    <p class="login__principal__grid__description__welcome__method__grid__link-text">Continue with Email <i class="bi bi-chevron-compact-right"></i></p>
                                </a>
                            </section>

                            <section class="login__principal__grid__description__welcome__method__conditions">
                                <p class="login__principal__grid__description__welcome__method__conditions-text">Al hacer clic en «Continuar» para unirte o iniciar sesión, aceptas las Condiciones de uso, la Política de privacidad y la Política de cookies de LinkedIn.</p>
                            </section>
                        </div>
                    </div>
                    <!-- <img class="login__principal__grid__description__background" src="{% static 'build/img/background.webp'%}" alt="background"> -->
                </section>
            </main>
        </div>
    </section>

    <section class="login__courses">
        <main class="login__courses__grid">
            <div class="login__courses__grid__nav-background">
                <nav class="content login__courses__grid__nav"> 
                    <div class="login__courses__grid__nav__title">
                        <h1 class="login__courses__grid__nav__title-text">Explora <span>articulos.</span></h1>
                        <p class="login__courses__grid__nav__title-text-more">Drive higher revenue and lower costs for your sales organization.</p>
                    </div>

                    <ul class="login__courses__grid__nav__list">
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button login__courses__grid__nav__list__item-button-active"><i class="bi bi-chevron-compact-down"></i> Recientes </button>
                        </li>
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button">Business</button>
                        </li>
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button">Technology</button>
                        </li>
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button">Creative</button>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="login__courses__grid__course-background">
                <section class="content login__courses__grid__course">
                    <div class="login__courses__grid__course__title">
                        <h3 class="login__courses__grid__course__title-text">Trending courses</h3>
                    </div>

                    <div class="login__courses__grid__course__articles">
                        <ul class="login__courses__grid__course__articles__list">
                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="What Is Generative AI?" aria-busy="false" src="https://media.licdn.com/dms/image/C4E0DAQE84AgCpYxX-Q/learning-public-crop_144_256/0/1678908578362?e=1717390800&amp;v=beta&amp;t=H5mx6pXb25NI9SG6vgP14FZoug3Sg9wmShBH5jjbeys">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Learning Personal Branding
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">2,895,024 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Excel: Lookup Functions in Depth" aria-busy="false" src="https://media.licdn.com/dms/image/C560DAQEUTuB4edN85g/learning-public-crop_144_256/0/1599688438696?e=1717390800&amp;v=beta&amp;t=yAAhBp929QbE04hriSowQDhG3Lgtf69DR880gse_dIc">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Excel: Lookup Functions in Depth
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">1,707,734 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Electronics Foundations: Basic Circuits" aria-busy="false" src="https://media.licdn.com/dms/image/C4E0DAQHbCh-IbN-ngA/learning-public-crop_144_256/0/1567116230457?e=1717390800&amp;v=beta&amp;t=IWEbOyZvXWD_xLJxGJvhZ4Q7jGPUME_lAxSj-5bUHBI">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Electronics Foundations: Basic Circuits
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">810,610 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Expert Tips for Answering Common Interview Questions" aria-busy="false" src="https://media.licdn.com/dms/image/C4D0DAQGJrfQlA5KMUQ/learning-public-crop_144_256/0/1669258879103?e=1717390800&amp;v=beta&amp;t=3lvsxVzMgyQD2usMXHWO5T6OZ9lX1ALxyC7rNOXXpfM">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Expert Tips for Answering Common Interview 
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">2,329,431 viewers</p>
                                </div>
                            </a>
                        </ul>
                    </div>
                </section>

                <section class="content login__courses__grid__topics">
                    <div class="login__courses__grid__topics__header">
                        <h1 class="login__courses__grid__topics__header-title">Find the right course for you <i class="bi bi-chevron-compact-right"></i></h1>
                        <p class="login__courses__grid__topics__header-subtitle">Choose from over <span>22,800 courses</span> and <span>Learning Paths</span>, dozens added each week.</p>
                    </div>

                    <div class="login__courses__grid__topics__body">
                        <section class="login__courses__grid__topics__body__title">
                            <h3 class="login__courses__grid__topics__body__title-text">Popular Topics</h3>
                        </section>

                        <article class="login__courses__grid__topics__body__links">
                            <ul class="login__courses__grid__topics__body__links__list">
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Personal Branding</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Spreadsheets</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Electronics</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Carrer Management</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Data Analysis</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Electrical Engineering</a>
                                </li>

                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Job Searching</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Artificial Intelligence Foundations</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Microcontrollers</a>
                                </li>
                                <li class="login__courses__grid__topics__body__links__list__item">
                                    <a href="#" class="login__courses__grid__topics__body__links__list__item-link">Hiring and Interviewing</a>
                                </li>
                            </ul>
                        </article>
                    </div>
                </section>
            </div>
        </main>
    </section>

    <section class="login__people">
        <div class="content">
            <main class="login__people__grid">
                <div class="login__people__grid__header">
                    <h1 class="login__people__grid__header-title">
                        Let's bring your ideas to life.
                    </h1>
                    <p class="login__people__grid__header-more">Drive higher revenue and lower costs for your sales organization.</p>

                    <a href="" class="login__people__grid__header-link">
                        Buscar Personas <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </main>
        </div>
    </section>

    <section class="login__courses">
        <main class="login__courses__grid">
            <div class="login__courses__grid__nav-background">
                <nav class="content login__courses__grid__nav"> 
                    <div class="login__courses__grid__nav__title">
                        <h1 class="login__courses__grid__nav__title-text">Lerning <span>courses.</span></h1>
                        <p class="login__courses__grid__nav__title-text-more">Drive higher revenue and lower costs for your sales organization.</p>
                    </div>

                    <ul class="login__courses__grid__nav__list">
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button login__courses__grid__nav__list__item-button-active"><i class="bi bi-chevron-compact-down"></i> Recientes </button>
                        </li>
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button">Business</button>
                        </li>
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button">Technology</button>
                        </li>
                        <li class="login__courses__grid__nav__list__item">
                            <button class="login__courses__grid__nav__list__item-button">Creative</button>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="login__courses__grid__course-background">
                <section class="content login__courses__grid__course">
                    <div class="login__courses__grid__course__title">
                        <h3 class="login__courses__grid__course__title-text">Trending courses</h3>
                    </div>

                    <div class="login__courses__grid__course__articles">
                        <ul class="login__courses__grid__course__articles__list">
                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="What Is Generative AI?" aria-busy="false" src="https://media.licdn.com/dms/image/C4E0DAQE84AgCpYxX-Q/learning-public-crop_144_256/0/1678908578362?e=1717390800&amp;v=beta&amp;t=H5mx6pXb25NI9SG6vgP14FZoug3Sg9wmShBH5jjbeys">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Learning Personal Branding
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">2,895,024 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Excel: Lookup Functions in Depth" aria-busy="false" src="https://media.licdn.com/dms/image/C560DAQEUTuB4edN85g/learning-public-crop_144_256/0/1599688438696?e=1717390800&amp;v=beta&amp;t=yAAhBp929QbE04hriSowQDhG3Lgtf69DR880gse_dIc">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Excel: Lookup Functions in Depth
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">1,707,734 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Electronics Foundations: Basic Circuits" aria-busy="false" src="https://media.licdn.com/dms/image/C4E0DAQHbCh-IbN-ngA/learning-public-crop_144_256/0/1567116230457?e=1717390800&amp;v=beta&amp;t=IWEbOyZvXWD_xLJxGJvhZ4Q7jGPUME_lAxSj-5bUHBI">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Electronics Foundations: Basic Circuits
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">810,610 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Expert Tips for Answering Common Interview Questions" aria-busy="false" src="https://media.licdn.com/dms/image/C4D0DAQGJrfQlA5KMUQ/learning-public-crop_144_256/0/1669258879103?e=1717390800&amp;v=beta&amp;t=3lvsxVzMgyQD2usMXHWO5T6OZ9lX1ALxyC7rNOXXpfM">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Expert Tips for Answering Common Interview 
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">2,329,431 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="What Is Generative AI?" aria-busy="false" src="https://media.licdn.com/dms/image/C4E0DAQE84AgCpYxX-Q/learning-public-crop_144_256/0/1678908578362?e=1717390800&amp;v=beta&amp;t=H5mx6pXb25NI9SG6vgP14FZoug3Sg9wmShBH5jjbeys">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Learning Personal Branding
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">2,895,024 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Excel: Lookup Functions in Depth" aria-busy="false" src="https://media.licdn.com/dms/image/C560DAQEUTuB4edN85g/learning-public-crop_144_256/0/1599688438696?e=1717390800&amp;v=beta&amp;t=yAAhBp929QbE04hriSowQDhG3Lgtf69DR880gse_dIc">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Excel: Lookup Functions in Depth
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">1,707,734 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Electronics Foundations: Basic Circuits" aria-busy="false" src="https://media.licdn.com/dms/image/C4E0DAQHbCh-IbN-ngA/learning-public-crop_144_256/0/1567116230457?e=1717390800&amp;v=beta&amp;t=IWEbOyZvXWD_xLJxGJvhZ4Q7jGPUME_lAxSj-5bUHBI">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Electronics Foundations: Basic Circuits
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">810,610 viewers</p>
                                </div>
                            </a>

                            <a href="#" class="login__courses__grid__course__articles__list__item">
                                <picture class="login__courses__grid__course__articles__list__item-img">
                                    <img class="related-entity-media__img w-full h-full object-cover rounded-[2px] lazy-loaded" alt="Expert Tips for Answering Common Interview Questions" aria-busy="false" src="https://media.licdn.com/dms/image/C4D0DAQGJrfQlA5KMUQ/learning-public-crop_144_256/0/1669258879103?e=1717390800&amp;v=beta&amp;t=3lvsxVzMgyQD2usMXHWO5T6OZ9lX1ALxyC7rNOXXpfM">
                                </picture>

                                <div class="login__courses__grid__course__articles__list__item__description">
                                    <h5 class="login__courses__grid__course__articles__list__item__description-subtitle">Course</h5>
                                    <h4 class="login__courses__grid__course__articles__list__item__description-title">
                                        Expert Tips for Answering Common Interview 
                                    </h4>
                                    <p class="login__courses__grid__course__articles__list__item__description-views">2,329,431 viewers</p>
                                </div>
                            </a>
                        </ul>
                    </div>
                </section>

            </div>
        </main>
    </section>

{% endblock %}
