{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'build/css/app.css' %}" as="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="shortcut icon" href="{% static 'build/img/logo2.webp'%}" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script async defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Conecta | {% block title %} {% endblock %}</title>
</head>
<body>
    <header class="header__principal">

        <section class="content header__principal__content">

            <nav class="header__principal__grid">

                <div class="header__principal__grid__left">
                    <div class="header__principal__left__home">
                        <a href="{% url 'inicio' %}" class="header__principal__left__home-link">
                            <img src="{% static 'build/img/logo2.webp'%}" alt="">
                        </a>
                    </div>
                    
                    <form action="" class="header__principal__left__search header__principal__left__formSearch">
                        <i class="bi bi-binoculars-fill"></i>
                        <input class="header__principal__left__search-entry" type="search" name="searchHeader" id="searchHeader" placeholder="Buscar Empleo">


                        <!-- <section class="header__principal__left__submit">
                            <input type="submit" value="Buscar">
                        </section> -->
                    </form>
                </div>

                <div class="header__principal__grid__right">
                    <ul class="header__principal__right__nav">
                        <li class="header__principal__right__nav__item">
                            <a href="{% url 'inicio' %}" class="header__principal__right__nav__item__principal">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M23 9v2h-2v7a3 3 0 01-3 3h-4v-6h-4v6H6a3 3 0 01-3-3v-7H1V9l11-7z"></path>
                                </svg>
                                <p class="header__principal__right__nav__item-link">Inicio</p>
                            </a>
                        </li>
                        <li class="header__principal__right__nav__item">
                            <a href="{% url 'network' %}" class="header__principal__right__nav__item__principal">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M12 16v6H3v-6a3 3 0 013-3h3a3 3 0 013 3zm5.5-3A3.5 3.5 0 1014 9.5a3.5 3.5 0 003.5 3.5zm1 2h-2a2.5 2.5 0 00-2.5 2.5V22h7v-4.5a2.5 2.5 0 00-2.5-2.5zM7.5 2A4.5 4.5 0 1012 6.5 4.49 4.49 0 007.5 2z"></path>
                                </svg>
                                <p class="header__principal__right__nav__item-link">Mi red</p>
                            </a>
                        </li>

                        <li class="header__principal__right__nav__item">
                            <a href="{% url 'jobs' %}" class="header__principal__right__nav__item__principal">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M17 6V5a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H2v4a3 3 0 003 3h14a3 3 0 003-3V6zM9 5a1 1 0 011-1h4a1 1 0 011 1v1H9zm10 9a4 4 0 003-1.38V17a3 3 0 01-3 3H5a3 3 0 01-3-3v-4.38A4 4 0 005 14z"></path>
                                </svg>
                                <p class="header__principal__right__nav__item-link">Empleos</p>
                            </a>
                        </li>

                        <li class="header__principal__right__nav__item">
                            <a href="{% url 'jobs' %}" class="header__principal__right__nav__item__principal">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M16 4H8a7 7 0 000 14h4v4l8.16-5.39A6.78 6.78 0 0023 11a7 7 0 00-7-7zm-8 8.25A1.25 1.25 0 119.25 11 1.25 1.25 0 018 12.25zm4 0A1.25 1.25 0 1113.25 11 1.25 1.25 0 0112 12.25zm4 0A1.25 1.25 0 1117.25 11 1.25 1.25 0 0116 12.25z"></path>
                                  </svg>
                                <p class="header__principal__right__nav__item-link">Mensajes</p>
                            </a>
                        </li>

                        <li class="header__principal__right__nav__item">
                            <a href="" class="header__principal__right__nav__item__principal">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M22 19h-8.28a2 2 0 11-3.44 0H2v-1a4.52 4.52 0 011.17-2.83l1-1.17h15.7l1 1.17A4.42 4.42 0 0122 18zM18.21 7.44A6.27 6.27 0 0012 2a6.27 6.27 0 00-6.21 5.44L5 13h14z"></path>
                                </svg>
                                <p class="header__principal__right__nav__item-link">Alertas</p>
                            </a>
                        </li>
                        <li class="header__principal__right__nav__item">
                            <a href="{% url 'user' %}" class="header__principal__right__nav__item__principal">
                                <picture class="header__principal__right__nav__item-img">
                                    <img width="24" src="https://media.licdn.com/dms/image/D4E35AQFDOvNwYl5exQ/profile-framedphoto-shrink_100_100/0/1715578423351?e=1716865200&amp;v=beta&amp;t=akv3o3nQjsHm6hngwkTyZKxHw-GtcTwkqz0r1TWwOgQ" height="24" alt="Ricardo Martinez Vega" id="ember18" class="global-nav__me-photo evi-image ember-view">
                                </picture>

                                <p class="header__principal__right__nav__item-link">Yo</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="header__principal__right__nav__business">
                        <li class="header__principal__right__nav__business__item">
                            <a href="" class="header__principal__right__nav__item__principal">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M3 3h4v4H3zm7 4h4V3h-4zm7-4v4h4V3zM3 14h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4zM3 21h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4z"></path>
                                </svg>
                                <p class="header__principal__right__nav__business__item-link">Mas ajustes <i class="bi bi-caret-down-fill"></i></p>
                            </a>
                        </li>
                        <li class="header__principal__right__nav__business__item header__principal__right__nav__business__item-premium">
                            <a href="#" class="header__principal__right__nav__business__item-link">Obtén un mes gratis de Premium</a>
                        </li>
                    </ul>
                </div>

            </nav>

        </section>

        <main class="header__secondary">
            <section class="header__secondary__content">
                <button class="content header__secondary__content__nav-buttonLeft"><i class="bi bi-chevron-compact-left"></i></button>
                <nav class="content header__secondary__content__nav">
                    <ul class="header__secondary__content__nav__list">
                        <a href="" class="header__secondary__content__nav__list__item">
                            <picture class="header__secondary__content__nav__list__item-picture">
                                <img width="32" src="https://media.licdn.com/media/AAYAAgQJAAgAAQAAAAAAAHzpg-xWkZIMSTKjhrg9aabRmw.png" loading="lazy" height="32" alt="" id="ember755" class="ivm-view-attr__img--centered ivm-view-attr__img   evi-image lazy-image ember-view">
                            </picture>
                            <p class="header__secondary__content__nav__list__item-text">Para ti</p>
                        </a>

                        <a href="" class="header__secondary__content__nav__list__item">
                            <picture class="header__secondary__content__nav__list__item-picture">
                                <img width="32" src="https://media.licdn.com/media/AAYQAgQJAAgAAQAAAAAAAGoRROB0HsmJS3WJTxL2Gg6sZA.png" loading="lazy" height="32" alt="" id="ember756" class="ivm-view-attr__img--centered ivm-view-attr__img   evi-image lazy-image ember-view">
                            </picture>
                            <p class="header__secondary__content__nav__list__item-text">En remoto</p>
                        </a>

                        <a href="" class="header__secondary__content__nav__list__item">
                            <picture class="header__secondary__content__nav__list__item-picture">
                                <img width="32" src="https://media.licdn.com/media/AAYAAgQJAAgAAQAAAAAAAGP4rUyqs0gcQHyq-AxUoT9SVg.png" loading="lazy" height="32" alt="" id="ember757" class="ivm-view-attr__img--centered ivm-view-attr__img   evi-image lazy-image ember-view">
                            </picture>
                            <p class="header__secondary__content__nav__list__item-text">Solicitud sencilla</p>
                        </a>

                        <a href="" class="header__secondary__content__nav__list__item">
                            <picture class="header__secondary__content__nav__list__item-picture">
                                <img width="32" src="https://media.licdn.com/media/AAYQAgQJAAgAAQAAAAAAAHXcii7CMsZHRx2iKLSkZfEc2g.png" loading="lazy" height="32" alt="" id="ember758" class="ivm-view-attr__img--centered ivm-view-attr__img   evi-image lazy-image ember-view">
                            </picture>
                            <p class="header__secondary__content__nav__list__item-text">Hosteleria y turismo</p>
                        </a>

                        <a href="" class="header__secondary__content__nav__list__item">
                            <picture class="header__secondary__content__nav__list__item-picture">
                                <img width="32" src="https://media.licdn.com/media/AAYAAgQJAAgAAQAAAAAAAGx9EwV6tcyEQi-3vtvmv3vGXw.png" loading="lazy" height="32" alt="" id="ember759" class="ivm-view-attr__img--centered ivm-view-attr__img   evi-image lazy-image ember-view">
                            </picture>
                            <p class="header__secondary__content__nav__list__item-text">Conciliación</p>
                        </a>

                        <a href="" class="header__secondary__content__nav__list__item">
                            <picture>
                                <img width="32" src="https://media.licdn.com/media/AAYQAgQJAAgAAQAAAAAAAEcyDKtNKGaJRNKSnegRaDfD7w.png" loading="lazy" height="32" alt="" id="ember760" class="ivm-view-attr__img--centered ivm-view-attr__img   evi-image lazy-image ember-view">
                            </picture>
                            <p class="header__secondary__content__nav__list__item-text">Pequeña empresa</p>
                        </a>

                        <a href="" class="header__secondary__content__nav__list__item">
                            <picture>
                                <img width="32" src="https://media.licdn.com/media/AAYAAgQJAAgAAQAAAAAAAF-l5wjz0InnTViQlkL5mXPM4g.png" loading="lazy" height="32" alt="" id="ember761" class="ivm-view-attr__img--centered ivm-view-attr__img   evi-image lazy-image ember-view">
                            </picture>
                            <p class="header__secondary__content__nav__list__item-text">Sostenibilidad</p>
                        </a>
                    </ul>
                </nav>
                <button class="content header__secondary__content__nav-buttonRight"><i class="bi bi-chevron-compact-right"></i></button>
            </section>
        </main>

    </header>

    <main class="main__principal">
        <div class="content main__principal__content">
            {% block content %}

            {% endblock %}
        </div>
    </main>

    <footer>
        
    </footer>
</body>
</html>