// Colores
$white: #FFFFFF;
$black: #0D1117;
$gray: #F4F2EE;
$textnav: #6d6d6d;
$textsecondary: #3d3d3d;
$blue: #0A66C2;
$skyblue: #f7f7f7;
$amber: #915907;
$yellow: #eeb519;
$gold: #C37D16;
$border: #efefef;
$borderalternative: #AAAAAA;
$orange: #E06847;
$sky:#378FE9;
$purple: #30317A;
$violet: #9366DE;
$principal: #000000;
$orangelight: #ebebeb;
$graylow: #F3F3F3;
$green: #01754F;

$shadow: #dfdfdf;
$search: #e5e5e5;