// Colores
$white: #FFFFFF;
$black: #0D1117;
$gray: #F4F2EE;
$textnav: #6d6d6d;
$textsecondary: #3d3d3d;
$blue: #0A66C2;
$skyblue: #F4F2EE;
$amber: #915907;
$yellow: #eeb519;
$gold: #C37D16;
$border: rgba(75, 75, 75, 0.2);
$borderalternative: #AAAAAA;
$orange: #E06847;
$sky:#378FE9;
$purple: #30317A;
$violet: #9366DE;
$principal: #ca640b;
$orangelight: #fff2ea;
$graylow: #F3F3F3;