{% extends 'layouts/jobs.html' %}
{% load static %}


{% block title %} {{title}} {% endblock %}



{% block content %}
    <article class="jobs__principal__grid">

        <main class="jobs__principal__grid__content content">
            <section class="jobs__principal__grid__content__left">
                <blockquote class="jobs__principal__grid__content__tips">
                    <p class="jobs__principal__grid__content__tips-title">Principales empleos que te recomendamos <i class="bi bi-cursor"></i></p>
                    <p class="jobs__principal__grid__content__tips-subtitle">34 resultados <i class="bi bi-chevron-right"></i></p>
                </blockquote>

                <div class="jobs__principal__grid__content__offers">
                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E0BAQHPu_RTJJwUGg/company-logo_100_100/0/1691457504998?e=1724284800&amp;v=beta&amp;t=SsfwbFpnLpV0GqjdZ4RbxFSAdqeRzs9HrTapww3zLbQ" loading="lazy" height="56" alt="Logotipo de Outcoding an EX Squared Company" id="ember948" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Python Developer <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Outcoding an EX Squared Company</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">América Latina (En remoto)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid ">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4D0BAQHNCBhamvGUUw/company-logo_100_100/0/1688387525085/stefaninilatam_logo?e=1724284800&amp;v=beta&amp;t=EMwkEiwDGM3axkUBP3o0S-q7DVCFR9FFRNHp0xuRSBo" loading="lazy" height="56" alt="Logotipo de Stefanini LATAM" id="ember1564" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">DevOps Engineer <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Stefanini LATAM</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">San Salvador, San Salvador, El Salvador (Remoto)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto • Promocionado • 2 solicitudes</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid jobs__principal__grid__content__offers__grid-active">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img title="Workling" src="https://media.licdn.com/dms/image/C560BAQEznWRrO24Vzw/company-logo_100_100/0/1641945371362/workling_jobs_logo?e=1724284800&amp;v=beta&amp;t=6FmwVnKf9PfM18V8bv9aC3OAv-SB6oYSysJXr51MU-Q" alt="Logotipo de Workling" id="ember268" class="evi-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Work From Home Junior Python Developer <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Workling </p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">Santa Ana, Santa Ana, El Salvador</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto • Promocionado • 76 solicitudes</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E0BAQHD3-f111uXmQ/company-logo_100_100/0/1666202074954/tecnoin_1_logo?e=1724284800&amp;v=beta&amp;t=tiOE28k1B9ygNIJdJJkDQoVATQwsk5OWOHMcHAeorYs" loading="lazy" height="56" alt="Logotipo de Tecnoin" id="ember1382" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Desarrollador Frontend <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Tecnoin</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">San Salvador, San Salvador, El Salvador (Híbrido)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text"> Promocionado </p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E0BAQGNvQASzrdL_w/company-logo_100_100/0/1687874736484/bairesdev_logo?e=1724284800&amp;v=beta&amp;t=0pqPYNEV9CN9R13I2CjpBq4uLbQ-XuSut_kIqc3QZKU" loading="lazy" height="56" alt="Logotipo de BairesDev" id="ember220" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Desarrollador ETL - Trabajo Remoto - San Salvador, El Salvador  <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">BairesDev</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">San Salvador, San Salvador, El Salvador</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto • Promocionado • 10 solicitudes</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E0BAQHPu_RTJJwUGg/company-logo_100_100/0/1691457504998?e=1724284800&amp;v=beta&amp;t=SsfwbFpnLpV0GqjdZ4RbxFSAdqeRzs9HrTapww3zLbQ" loading="lazy" height="56" alt="Logotipo de Outcoding an EX Squared Company" id="ember948" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Python Developer <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Outcoding an EX Squared Company</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">América Latina (En remoto)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4D0BAQHNCBhamvGUUw/company-logo_100_100/0/1688387525085/stefaninilatam_logo?e=1724284800&amp;v=beta&amp;t=EMwkEiwDGM3axkUBP3o0S-q7DVCFR9FFRNHp0xuRSBo" loading="lazy" height="56" alt="Logotipo de Stefanini LATAM" id="ember1564" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">DevOps Engineer <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Stefanini LATAM</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">San Salvador, San Salvador, El Salvador (Remoto)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto • Promocionado • 2 solicitudes</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E0BAQHUrodtt0OPBg/company-logo_100_100/0/1690843375185/applaudo_logo?e=1723680000&amp;v=beta&amp;t=BwBohcESZExMYWG9lI7P5CdqoGs1_Tt674H4I07Ksdg" loading="lazy" height="56" alt="Logotipo de Applaudo" id="ember1497" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Senior IOS Developer <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Lumenalta (formerly Clevertech)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">El Salvador (En remoto)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto • Promocionado • 2 solicitudes</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E0BAQHD3-f111uXmQ/company-logo_100_100/0/1666202074954/tecnoin_1_logo?e=1724284800&amp;v=beta&amp;t=tiOE28k1B9ygNIJdJJkDQoVATQwsk5OWOHMcHAeorYs" loading="lazy" height="56" alt="Logotipo de Tecnoin" id="ember1382" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Desarrollador Frontend <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">Tecnoin</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">San Salvador, San Salvador, El Salvador (Híbrido)</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text"> Promocionado </p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>

                    <article class="jobs__principal__grid__content__offers__grid">
                        <a href="" class="jobs__principal__grid__content__offers__link">
                            <picture class="jobs__principal__grid__content__offers__link__img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E0BAQGNvQASzrdL_w/company-logo_100_100/0/1687874736484/bairesdev_logo?e=1724284800&amp;v=beta&amp;t=0pqPYNEV9CN9R13I2CjpBq4uLbQ-XuSut_kIqc3QZKU" loading="lazy" height="56" alt="Logotipo de BairesDev" id="ember220" class="ivm-view-attr__img--centered EntityPhoto-square-4   evi-image lazy-image ember-view">
                            </picture>

                            <section class="jobs__principal__grid__content__offers__link__preview">
                                <div class="jobs__principal__grid__content__offers__link__preview__description">

                                    <h3 class="jobs__principal__grid__content__offers__link__preview__description-title">Desarrollador ETL - Trabajo Remoto - San Salvador, El Salvador  <i class="bi bi-shield-check"></i></h3>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-company">BairesDev</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-location">San Salvador, San Salvador, El Salvador</p>
                                    <p class="jobs__principal__grid__content__offers__link__preview__description-hiring"><i class="bi bi-crosshair"></i> En busca de personal</p>
                                    
                                </div>

                                <div class="jobs__principal__grid__content__offers__link__preview__tags">
                                    <p class="jobs__principal__grid__content__offers__link__preview__tags-text">Visto • Promocionado • 10 solicitudes</p>
                                </div>
                            </section>
                        </a>

                        <button class="jobs__principal__grid__content__offers__link__preview__description-close">
                            <i class="bi bi-x"></i>
                        </button>
                    </article>
                </div>
            </section>

            <section class="jobs__principal__grid__content__right">
                <article class="jobs__principal__grid__content__right__article">
                    <main class="jobs__principal__grid__content__right__article__header">
                        <div class="jobs__principal__grid__content__right__article__header__general">
                            <a href="" class="jobs__principal__grid__content__right__article__header__general-title">Work From Home Junior Python Developer</a>
                           
                            <p class="jobs__principal__grid__content__right__article__header__general-subtitle"><a href="">Workling</a> · Santa Ana, Santa Ana, El Salvador <span>· hace 1 día · 25 solicitudes</span> </p>
                            
                            <ul class="jobs__principal__grid__content__right__article__header__general__list">

                                <li class="jobs__principal__grid__content__right__article__header__general__list__item">
                                    <i class="bi bi-briefcase-fill"></i>
                                    <p class="jobs__principal__grid__content__right__article__header__general__list__item-text">En remoto · <span class="jobs__principal__grid__content__right__article__header__general__list__item-text-time">Jornada completa</span> · Sin experiencia</p>
                                </li>

                                <li class="jobs__principal__grid__content__right__article__header__general__list__item">
                                    <i class="bi bi-building"></i>
                                    <p class="jobs__principal__grid__content__right__article__header__general__list__item-text">De 51 a 200 empleados · Desarrollo de software</p>
                                </li>

                                <li class="jobs__principal__grid__content__right__article__header__general__list__item">
                                    <i class="bi bi-toggle-on"></i>
                                    <a href="" class="jobs__principal__grid__content__right__article__header__general__list__item-link">8 de 10 aptitudes coinciden con tu perfil, podrías encajar muy bien</a>
                                </li>

                                <li class="jobs__principal__grid__content__right__article__header__general__list__item">
                                    <i class="bi bi-lightning-fill"></i>
                                    <p class="jobs__principal__grid__content__right__article__header__general__list__item-text">Ve una comparación con los otros 76 solicitantes.
                                        
                                        <a href="" class="jobs__principal__grid__content__right__article__header__general__list__item-text-link">Probar Premium por 0 USD</a>
                                        
                                    </p>
                                </li>
                            </ul>

                            <div class="jobs__principal__grid__content__right__article__header__general__send">
                                <button class="jobs__principal__grid__content__right__article__header__general__send-curriculum">Solicitud sencilla <i class="bi bi-chevron-double-up"></i></button>
                                <button class="jobs__principal__grid__content__right__article__header__general__send-save">Guardar</button>
                            </div>
                        </div>

                        <div class="jobs__principal__grid__content__right__article__header__more">
                            <button class="jobs__principal__grid__content__right__article__header__more-button">
                                <i class="bi bi-arrow-90deg-right"></i>
                            </button>

                            <button class="jobs__principal__grid__content__right__article__header__more-button">
                                <i class="bi bi-three-dots"></i>
                            </button>
                        </div>
                    </main>

                    <section class="jobs__principal__grid__content__right__article__hiring">
                        <div class="jobs__principal__grid__content__right__article__hiring__header">
                            <h3 class="jobs__principal__grid__content__right__article__hiring__header-text">Conoce al equipo de contratación</h3>
                        </div>

                        <div class="jobs__principal__grid__content__right__article__hiring__body">
                            <picture class="jobs__principal__grid__content__right__article__hiring__body-img">
                                <img width="56" src="https://media.licdn.com/dms/image/D4E35AQEJ9AX_M_x5YA/profile-framedphoto-shrink_100_100/0/1710872420617?e=1716786000&amp;v=beta&amp;t=7Lripd1IMpQh-chIgPOciBJarO9veh5qhUGdXVMDERI" loading="lazy" height="56" alt="Fabiola, #Hiring" id="ember521" class="ivm-view-attr__img--centered EntityPhoto-circle-4   evi-image lazy-image ember-view">
                            </picture>

                            <div class="jobs__principal__grid__content__right__article__hiring__body__description">
                                <a href="" class="jobs__principal__grid__content__right__article__hiring__body__description-link">
                                    Fabiola Granillo   <span>• 3er</span>
                                </a>

                                <p class="jobs__principal__grid__content__right__article__hiring__body__description-subtitle">
                                    Senior Manager Talent Acquisition na Workling
                                </p>

                                <p class="jobs__principal__grid__content__right__article__hiring__body__description-more">
                                    Anunciante del empleo
                                </p>
                            </div>

                            <button class="jobs__principal__grid__content__right__article__hiring__body__send">
                                <i class="bi bi-chat-left-text"></i> Mensaje
                            </button>
                        </div>
                    </section>

                    <section class="jobs__principal__grid__content__right__article__offer">
                        <div class="jobs__principal__grid__content__right__article__offer__header">
                            <h3 class="jobs__principal__grid__content__right__article__offer__header-title">Acerca del empleo</h3>
                        </div>

                        <div class="jobs__principal__grid__content__right__article__offer__body">
                            <p class="jobs__principal__grid__content__right__article__offer__body-text">
                                Location: Remote WFH All Latin American Candidates are welcome to apply
                                Overview of the Role:

                                We are looking to hire a skilled Junior Python Developer capable of delivering high standards of technical quality and innovation, always striving for continuous improvement, and looking to help all different types of clients around the world.
                                To ensure success, you must have detailed knowledge of development techniques, excellent communication, and organizational skills.
                            </p>

                            <br>

                            <p class="jobs__principal__grid__content__right__article__offer__body-text">
                                In return, we offer:

                                Competitive compensation package
                                100% remote Work from Home
                                International company with diversity and multicultural inclusion
                                The ability to work with leading startups and fast-growing companies in the USA
                            </p>
                        </div>
                    </section>

                    <div class="jobs__principal__grid__content__right__article__hiring-company">
                        <section class="jobs__principal__grid__content__right__article__hiring ">
                            <div class="jobs__principal__grid__content__right__article__hiring__header">
                                <h3 class="jobs__principal__grid__content__right__article__hiring__header-text">Acerca de la empresa</h3>
                            </div>
    
                            <div class="jobs__principal__grid__content__right__article__hiring__body">
                                <picture class="jobs__principal__grid__content__right__article__hiring__body-img jobs__principal__grid__content__right__article__hiring__body-img-company">
                                    <img title="Workling" src="https://media.licdn.com/dms/image/C560BAQEznWRrO24Vzw/company-logo_100_100/0/1641945371362/workling_jobs_logo?e=1724284800&amp;v=beta&amp;t=6FmwVnKf9PfM18V8bv9aC3OAv-SB6oYSysJXr51MU-Q" alt="Logotipo de Workling" id="ember268" class="evi-image ember-view">
                                </picture>
    
                                <div class="jobs__principal__grid__content__right__article__hiring__body__description jobs__principal__grid__content__right__article__hiring__body__description-company">
                                    <a href="" class="jobs__principal__grid__content__right__article__hiring__body__description-link jobs__principal__grid__content__right__article__hiring__body__description-link-company">
                                        Workling
                                    </a>
    
                                    <p class="jobs__principal__grid__content__right__article__hiring__body__description-subtitle">
                                        384.067 seguidores
                                    </p>
                                </div>
    
                                <button class="jobs__principal__grid__content__right__article__hiring__body__send jobs__principal__grid__content__right__article__hiring__body__send-company">
                                    <i class="bi bi-plus-lg"></i> Seguir
                                </button>
                            </div>

                            <blockquote class="jobs__principal__grid__content__right__article__hiring__info">
                                <p class="jobs__principal__grid__content__right__article__hiring__info-text">Desarrollo de software • 51-200 empleados • 115 en LinkedIn</p>
                            </blockquote>

                            <div class="jobs__principal__grid__content__right__article__hiring__footer">
                                <p class="jobs__principal__grid__content__right__article__hiring__footer-text">
                                    At Workling, we believe that instant impact happens when challenge and skill are paired evenly, and growth happens when distraction is removed from the equation.
                                </p>

                                <br>

                                <p class="jobs__principal__grid__content__right__article__hiring__footer-text">
                                    The Workling platform enables top global companies to identify the skills they need most, and select pre-vetted professionals for their skill levels in any discipline. In a fraction of the time it takes for the traditional hiring process to identify, vet and onboard a candidate, Workling puts the right person in the right role, right away for instant impact. And, because Workling handles all of the recruitment and payment paperwork, everyone stays focused on growth.
                                </p>
                            </div>

                            <button class="jobs__principal__grid__content__right__article__hiring__footer-more">
                                Mostrar más
                            </button>
                        </section>
                    </div>


                </article>
            </section>
        </main>
    </article>
{% endblock %}